html(lang="en")

    head
        link(rel="stylesheet" href="homepageStyles.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title("Document")
    nav
        a(href="/blogPosts") !{"blog posts"}
        
    body    
        main
            form(method="POST" action="/submitPost" name="form")
        
                label(for="userName") !{"userName"} 
                input(type="text" name="userName" id="userName" placeholder="Username" value=userName)

                label(for="postContent") !{"postContent"}
                textarea(id="postContent" name="postContent" rows="4" cols="50"  maxlength="50" placeholder="Please write post") !{postContent}
                
                label(for="gif") !{"gif"} 
                input(type="text" name="gif" id="gif" placeholder="insert gif url" value=gif)
                
                label(for="emoji") !{"emoji"}
                select(id="emoji" name="emoji" value=emoji)
                    option(value="smile") !{"smile"}
                    option(value="sad") !{"sad"}
                    option(value="random") !{"random"}
        
        
                input(type="submit" name="submit" id="submit" value="submit post")

                script(src='submission.js')