html(lang="en")

    head
        script(src="https://code.jquery.com/jquery-3.4.1.js")
        script(src="client.js")
        link(rel="stylesheet" href="homepageStyles.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title("Document")
        script(src="client.js")
        script(src="https://code.jquery.com/jquery-3.4.1.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    
    body
        nav
            h3(class="pageTitle") !{"HeliHufa"}
            a(href="/blogPosts") !{"View Posts"}
        main
            form(method="POST" action="/submitPost" name="form")

                div(class="sideBySide")
                    label(for="userName") !{"Username: "} 
                    input(type="text" name="userName" id="userName" placeholder="Username" value=userName)

                label(for="postContent") !{"Post:"}
                textarea(id="postContent" name="postContent" rows="4" cols="50"  maxlength="50" placeholder="Please write post") !{postContent}
                
                
                div(class="sideBySide")
                    label(for="gif") !{"GIF: "} 
                    input(type="text" name="gif" id="gif" placeholder="Search for a gif")
                    input(type="button" name="gifSearch" id="gifSearch" value="Search")
                
                div(class="gif-display selectable")
                    img(id="gif1" class="ui-widget-content" src="" alt="")
                    img(id="gif2" class="ui-widget-content" src="" alt="")
                    img(id="gif3" class="ui-widget-content" src="" alt="")
                    img(id="gif4" class="ui-widget-content" src="" alt="")
                    img(id="gif5" class="ui-widget-content" src="" alt="")
                input(type="button" name="loadMore" id="loadMore" value="New GIFs Please")
                input(type="hidden" name="selectedGifURL" id="selectedGifURL")
                input(type="hidden" name="selectedGifALT" id="selectedGifALT")

                
                input(type="submit" name="submit" id="submit" value="Submit post")

