html(lang="en")

    head
        link(rel="stylesheet" href="homepageStyles.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title("Document")
        script(src="client.js")
        script(src="https://code.jquery.com/jquery-3.4.1.js")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    nav
        a(href="/blogPosts") !{"blog posts"}
        
    body    
        main
            form(method="POST" action="/submitPost" name="form")
        
                label(for="userName") !{"userName"} 
                input(type="text" name="userName" id="userName" placeholder="Username" value=userName)

                label(for="postContent") !{"postContent"}
                textarea(id="postContent" name="postContent" rows="4" cols="50"  maxlength="50" placeholder="Please write post") !{postContent}
                
                label(for="gif") !{"gif"} 
                div(class="gif-search")
                    input(type="text" name="gif" id="gif" placeholder="Search for a gif")
                    input(type="button" name="gifSearch" id="gifSearch" value="Search")
               
    
                input(type="submit" name="submit" id="submit" value="Submit post")

