html(lang="en")

    head
        title("Document")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="resultsStyles.css")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script( type='text/javascript' src="https://code.jquery.com/jquery-3.4.1.js") 
        script( type='text/javascript' src="client.js")

    nav
     
        a(href="/") !{"Add Blog Post"}

    body
        main
            each blogPost in blogData
                section
                    div(class="leftHandSide")
                        h5(class="userName")= blogPost.userName
                        img(src=blogPost.gif.url, alt=blogPost.gif.title)
                    
                    div(class="rightHandSide")
                        p(class="post")= blogPost.postContent
                        h2(id="commentHead") !{"Comments"}
                        div(class="comments") 
                            each comment in blogPost.comments
                                p(class="comment")= comment
                        
                        div(class="commentCollection")
                        
                            form(name="addComment" id="addComment")
                                input(id="ID" type="hidden" name="ID" value=blogPost.ID)
                                textarea(id="comment" name="comment", cols="30", rows="2")
                                br
                                input(type="submit" value="add comment" id="addCommentButton")
                                input(type="submit" value="add comment")
                            button(class="toggleComments") !{"Show Comments"}
